/* Import External CSS */
@import url(stylesheet.css);

h2 {
    display: inline;
    margin-top: 0;
    position: relative;
}

p {
    display: inline;
    text-align: right;
}

p>a {
    color: #333;
    font-size: 2vw;
}

main article iframe {
    height: 125vh;
    width: 100%;
    margin-bottom: 5rem;
}

@media screen and (min-width: 950px) {
    p>a {
        font-size: 2rem;
    }
}

@media screen and (min-width: 1000px) {
    p>a {
        font-size: 2.5rem;
    }
}