/* Import External CSS */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css");

/* Import Necessary Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');/* Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');/* Overpass */
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');/* Inter */

/* Embed Necessary Fonts */
@font-face {
    font-family: 'getschwifty';
    src: url('../fonts/get-schwifty-webfont.woff2') format('woff2'),
         url('../fonts/get-schwifty-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* CSS RESET */
* {
    margin: 0;
    padding: 0;
}

/* GENERAL STYLING */
body {
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

h2 {
    color: #333;
    /* font-size: 1vw; */
    font-weight: 800;
    /* margin-top: 5rem; */
    position: relative;
    top: 0;
    z-index: 1;
}

h3 {
    font-size: 3rem;
    font-weight: 800;
}

h4 {
    border-bottom: 0.5vmin solid #12B0C8;
}

/* HEADER */
header {
    background: url(../images/header.webp);
    background-size: cover;
    background-position: center;
    height: 25vh;
}

/* TOP NAVIGATION */
body>nav {
    align-items: center;
    background-color: #333;
    display: flex;
    font-family: 'Open Sans', sans-serif;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 2;
}

body>nav>ul {
    display: none;
}

.mobileDropdownButton {
    background-color: inherit;
    background-image: url(../images/bars-solid.svg);
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    color: #12B0C8;
    cursor: pointer;
    font-size: 1rem;
    outline: none;
    margin: .75rem .75rem;
    padding: .75rem .75rem;
}

body>nav>div>div {
    background-color: #333;
    display: none;
    position: absolute;
    width: 100%;
    z-index: 2;
}

body>nav>div>div>a:link {
    color: #12B0C8;
    display: block;
    padding: 1rem 0;
    text-align: center;
}

body>nav a:visited {
    color: #12B0C8;
}

body>nav a:after {
    content: '';
    width: 0;
    height: 0.1875rem;
    display: block;
    right: 0;
    background: #C6DF65;
    transition: width .5s ease;
}

body>nav a:hover:after {
    width: 100%;
    left: 0;
}

.show {
    display: block;
}

/* MAIN */
main {
    /* font-family: 'Inter', sans-serif; */
    background-color: #ECEBE8;
    margin: 0 10%;
}

#typeSearch {
    background-color: transparent;
    color: #12B0C8;
    font-family: 'getschwifty';
    font-size: 4vw;
    text-align: center;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #C6DF65;
}

#searchterm {
    font-family: 'Overpass', sans-serif;
    font-size: 4vw;
    text-align: center;
    -webkit-text-stroke-width: 0;
}

legend {
    color: #12B0C8;
    font-family: 'getschwifty';
    font-size: 2vw;
    text-align: center;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #C6DF65;
}

#filters {
    font-family: 'Overpass', sans-serif;
    font-size: 2vw;
    text-align: center;
}

#deadoralive {
    align-items: center;
    display: flex;
    justify-content: space-around;
}

#status {
    text-align: center;
    font-style: italic;
}

#status>img {
    width: 10%;
}

#content {
    margin: 0 auto;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 40px 20px;
}

.result {
    display: flex;
    flex-direction: column;
}

.result img {
    width: 100%;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .4);
}

.result span {
    order: -1;
}

.widgets>button {
    display: block;
    cursor: pointer;
    border-style: solid;
    border-width: 1px;
    border-radius: 50px;
    padding: 10px 18px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    font-size: 2vw;
    font-weight: bold;
    color: #12B0C8;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .4);
    font-family: 'getschwifty', sans-serif;
    text-align: center;
    text-decoration: none;
    margin: 0 auto;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: #C6DF65;
}

.widgets>button.green {
    border-color: #C6DF65;
    background-color: #333;
}

.widgets>button:hover {
    box-shadow: 0 0 6px rgba(0, 0, 0, .6);
}

.widgets>button:active {
    background: #8fFF00;
    box-shadow: 0 0 6px rgba(0, 0, 0, .6);
}

.widgets>button:focus {
    outline: 0;
}

/* FOOTER */

footer {
    bottom: 0;
    background-color: #333;
    color: #12B0C8;
    display: grid;
    font-family: 'Open Sans', sans-serif;
    grid-template-areas: "credits" "socials" "copyright";
    grid-template-columns: 1fr;
    justify-items: center;
    padding: 0 7.5% 1.5rem 7.5%;
}

footer>nav, footer>div, footer>ul, footer>p {
    margin-top: 1.5rem;
    width: 100%;
}

footer>div:first-child {
    grid-area: credits;
}

footer>div:last-child {
    grid-area: socials;
}

footer ul li {
    padding-top: 1rem;
}

footer ul li a:link {
    color: #12B0C8;
}

footer ul li a:visited {
    color: #12B0C8;
}

footer ul li a:focus {
    background: #C6DF65;
}

footer ul li a:hover {
    color: #C6DF65;
}

footer ul li a:active {
    color: #C6DF65;
}

footer>p {
    grid-area: copyright;
}

/* Media Queries */

@media screen and (min-width: 900px) {
    /* TOP NAVIGATION */
    body>nav>ul {
        display: flex;
        flex-wrap: wrap;
    }
    body>nav>ul>li {
        font-size: 1rem;
    }
    body>nav>ul>li>a:link {
        color: #12B0C8;
        display: inline-block;
        padding: 1rem 5vw 0.75rem 5vw;
    }
    body>nav>div {
        display: none;
    }
    /* FOOTER */
    footer {
        grid-column-gap: 10vw;
        grid-template-areas: "credits socials" "copyright  copyright";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }
    footer>nav>ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    footer>div>ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    footer ul li {
        flex-basis: 50%;
    }
}